[submodule "rocket-chip"]
	path = rocket-chip
	url = https://github.com/Siudya/rocket-chip
	branch = master
[submodule "difftest"]
	path = difftest
	url = https://github.com/OpenXiangShan/difftest
	branch = nh3
[submodule "fudian"]
	path = fudian
	url = https://github.com/Siudya/fudian
	branch = chisel5
[submodule "xs-utils"]
	path = xs-utils
	url = https://github.com/Siudya/xs-utils
	branch = chisel5
